streamlit_webrtc
av
streamlit
opencv-python
pytesseract
Pillow
torch
torchvision
speechbrain
numpy
reportlab
sounddevice
soundfile
scipy
pyttsx3
SpeechRecognition
cvzone
streamlit-drawable-canvas
scikit-image
face_recognition
